.portfolio-header {
  position: fixed; /* Keep the header at the top */
  top: 0; /* Position it at the very top */
  left: 0; /* Align it to the left */
  width: 100%; /* Stretch across the full width */
  background-color: #333;
  padding: 10px 0;
  z-index: 1000; /* Ensure it's above other content */
}

.portfolio-header nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.portfolio-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.portfolio-header nav ul li {
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
}

.hero {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}

.hero img {
  max-height: 240px;
  border-radius: 50%;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}

.hero p {
  width: 60%;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
}

.featured-projects {
  text-align: center;
  padding: 35px;
  background-color: #f5f5f5;
  color: #333;
}

.featured-projects h2 {
  margin-bottom: 1em;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project {
  flex: 1;
  max-width: calc(50% - 20px);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project p {
  min-height: 120px;
  max-height: 150px;
  overflow: auto;
  margin-bottom: 20px;
}

.project img {
  max-height: 540px;
  max-width: 540px;
  object-fit: cover;
  margin-bottom: 10px;
}

.project a {
  margin-top: auto;
  text-align: center;
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
}

.project a:hover {
  color: #4C9999;
}

.crossed-out {
  text-decoration: line-through;
}
